  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
   <link rel="shortcut icon" type="image/jpg" href="https://i.postimg.cc/3r6WGSVn/16-165447-game-controller-png-gamepad-icon-video-games-logo.jpg">
    <title>Tech Blog</title>
</head>
<body>

    <div id="navBox">
    <nav>
        <div>
        <a href="/" style="font-size:xx-large;">Home 🕹</a>
        {{#if loggedInUser}}
        </div>
        
        <a href="/profile/{{loggedInUser.id}}">Profile</a>
        
        
        <a href="/logout">logout</a>
        {{/if}}
       
        {{#unless loggedInUser}}
        <a href="/auth">login/signup</a>
        {{/unless}}
        
    </nav>
    </div>
    {{{body}}}
</body>
</html>