<h1 class="container">Login</h1>
<form class="container" id="loginForm">
    <input type="text" id="loginEmail" placeholder="email">
    <input type="password" id="loginPassword" placeholder="password">
    <br>
    <br>
    <button>Login</button>
    <br>
    <br>

</form>
<h1 class="container">Signup</h1>
<form class="container" id="signupForm">
    <input type="text" id="signupUsername" placeholder="username">
    <input type="text" id="signupEmail" placeholder="email">
    <input type="password" id="signupPassword" placeholder="password">
    <br>
    <br>
    <button>Signup</button>
</form>
<script src="/js/auth.js"></script>